.gr-announcements-container {
    height: 225px;
    position: relative;
    margin-bottom: 36px;
    overflow: hidden;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
}

.gr-announcement {
    width: 100%;
    height: 225px;
    overflow: hidden;

    position: absolute;
    top: 0;
    bottom: 0;
    transition: all .75s ease-in-out;
}

.gr-announcement img {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: auto;
}

.gr-announcement--grail img {
    top: -320px;
}
  
.gr-announcement__content {
    top: 0;
    position: absolute;
    left: 0;
    margin: 24px 0;
    padding: 0 48px;
    bottom: 0;
    align-content: center;
}

.gr-announcement--help .gr-announcement__content {
    background-color: rgba(255, 255, 255, 0.86);
}

/* question box form styling */
.gr-form input,
.gr-form select {
    height: 18px;
    padding: 6px;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    font-family: unset;
}

.gr-form select {
    height: 32px;
}

.gr-form input:focus,
.gr-form select:focus {
    outline: 1px solid #d4d4d4;
}

.gr-form__row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 24px;
}

.gr-form__item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 50%;
}

.gr-form__item:has(input[name='title']) {
    width: 80%;
}

.gr-form__item:has(input[name='subject']) {
    width: 20%;
}

.gr-form__item:has(textarea) {
    width: 100%;
}

.gr-error {
    color: red;
    display: block;
    font-size: 12px;
    padding: 3px 6px;
}

.gr-form__error {
    padding: 24px;
    background-color: #ffe4e4;
    color: #910000;
    border-radius: 3px;
    margin-top: 24px;
}

.gr-form__success {
    padding: 24px;
    background-color: #e9ffe9;
    color: #003c00;
    border-radius: 3px;
    margin-top: 24px;
}