.about-box {
    padding: 24px 48px;
    background: #fafafa;
    border-radius: 15px;
    border: 2px solid var(--primary);
    font-size: 19px;
}

.about-box__submit,
.gr-answer {
    display: flex;
    margin-left: auto;
    justify-content: center;
}

body.dark-mode .about-box,
body.dark-mode .form-box {
    background: #1e1e1e;
    border: 2px solid var(--primary);
}

.container, .about-box, .question-entry {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}